<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS site fiziksel yolu: C:\web\MasterDevelopment\Dashboard
  Binding: http://localhost:3282

  Statik dosyalar (css/js/index.html) bu config ile çalışır.
  Snapshot API için ayrıca terminalde: node server.js  (veya web.config.iisnode.xml)
-->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".md" />
      <mimeMap fileExtension=".md" mimeType="text/plain" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
</configuration>
